@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-primary-light: #2563EB;

  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  --color-text: #1F2937;
  --color-text-light: #4c505a;

  --color-success: #D4FFE4;
  --color-warning: #FDF5DF;
  --color-danger: #FCE7E6;
  --color-info: #DCE7FF;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --shadow-card: 0 4px 10px rgba(0, 0, 0, 0.05);
}

body {
    font: --font-body;
    background-color: var(--color-background);
    overflow: hidden;
}

.login {
    background-image: url("../src/assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}