@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-primary-light: #2563EB;

  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  --color-text: #1F2937;
  --color-text-light: #6B7280;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
    font: --font-body;
}

.login {
    background-image: url("../src/assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}